[mysqld]
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

max_connections=1024
key_buffer_size= 20M
table_open_cache = 256
max_allowed_packet = 32M
sort_buffer_size = 20M
read_buffer_size = 20M
thread_concurrency = 4

## Binlog
log_bin                 = /var/log/mysql/binlog
log_bin_index           = /var/log/mysql/binlog.index
log_warnings = 2
binlog_format = ROW
expire_logs_days = 10
max_binlog_size = 100M
innodb_flush_log_at_trx_commit = 2
sync_binlog=0

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 128M
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 2G


# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="production" # Change_here
wsrep_cluster_address="gcomm://10.130.104.42,10.130.104.44,10.130.104.45" # Change_here

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="10.130.104.42" # Change_here
wsrep_node_name="Database01" # Change_here

wsrep_slave_threads=4

# change auto_increment_increment and auto_increment_offset automatically
wsrep_auto_increment_control=1

# enable "strictly synchronous" semantics for read operations
wsrep_causal_reads=0

# retry autoinc insert, which failed for duplicate key error
wsrep_drupal_282555_workaround=1

wsrep_retry_autocommit=3
